<h1>Sandbox</h1>

<ul>
    <h2>Data</h2>
    <li><%= link_to 'motels', sandbox_motels_path %></li>
    <li><%= link_to 'severe weather events', sandbox_severe_weather_events_path %></li>
    <li><%= link_to 'voucher applications', sandbox_voucher_applications_path %></li>
</ul>

<ul>
    <h2>Experiments</h2>
    <li><%= link_to 'Test Rendering React Component' , sandbox_hello_react_path %></li>
    <li><%= link_to 'React HTML5 Camera Photo Component' , sandbox_photo_path %></li>
    <li><%= link_to 'Websockets & React' , sandbox_websockets_react_path %></li>
</ul>
